/ProcessMonitorRepository/bin
/ProcessMonitorRepository/obj
/ProcessMonitorWorkerService/bin
/ProcessMonitorWorkerService/obj
/.vs
/ProcessManager/bin
/ProcessManager/obj
/ProcessMonitorDebugUI/bin
/ProcessMonitorDebugUI/obj
/ProcessWatcherBlazorApp/bin
/ProcessWatcherBlazorApp/obj
/ProcessWatcherMonitor/bin
/ProcessWatcherMonitor/obj
/ProcessWatcherRepository/bin
/ProcessWatcherRepository/obj
/ProcessWatcherShared/bin
/ProcessWatcherShared/obj
/ProcessWatcherWebAPI/bin
/ProcessWatcherWebAPI/obj
/ProcessWatcherWorkerService/bin
/ProcessWatcherWorkerService/obj
